@model IEnumerable<WebService.Models.patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secondname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.citizenship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insuranceno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.housenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accesstype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctorusername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nurseusername)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secondname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.familyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.citizenship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insuranceno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.housenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accesstype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctorusername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nurseusername)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
